@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, main {
    overflow-x: hidden;
    height: 100vh;
    background-color: black;
}

main {
  padding: 2vh 2vw;
}

@media(max-width: 1200px) {
    main {
        padding: 0;
    }
}

.x-mobile {
    display: block;
}

.x-desktop {
    display: none;
}

@media(max-width: 1200px) {
    .x-mobile {
        display: none;
    }
    .x-desktop {
        display: block;
    }
}

.overflowhidden {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    background: black !important;
}

div[data-theme-1] {
    background-color: #000000 !important;
}

.sticky-sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
}